.error {
   color: red;
   font-style:italic;
}

body {
   background-color: black;
   font-weight:bold;
}


#total {
   color:#3D14D4;
   height:1.5em;
}

p {
   color: yellow;
}

h3 {
   color: yellow;
}

h1 {
   color: yellow;
}
