/* Nimesh Subedi 11/26/2023 */

body {
    background-image: url("Background.jpg");
    background-color: #cccccc;
    background-attachment: scroll;
    background-blend-mode: color;
    margin: 0;
}

.float-left {
    float:left;
    margin: 0 2% 2% 0;
}

.float-right {
    float:right;
    margin: 0 0 2% 2%;
}

.clear-float {
    clear: both;
}

#page-wrapper {
    width: 80%;
    margin: 0 auto; /* 0 top and bottom, auto left and right */
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 1.5rem;
    padding: 1px 20px;
}

button {
    padding: 9px 25px;
    background-color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    border-color: rgba(0,136,169,1);
    border-style: outset;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}

button:hover {
    background-color: rgba(0,136,169,0.8);
    color: white;
}