/* Home Page styles */
#main {
    text-align: center;
    margin-top: 100px;
}

#main > ul {
    list-style-type: none;
    padding: 0;
}

#main ul img {
    width: 100%;
}


/* Home Page Search Container */
.searchContainer {
    position: relative;
    text-align: center;
    color: white;
}

#adoptionImg {
    width: -webkit-fill-available;
    max-height: 28rem;
    object-fit: cover;
    object-position: 100% 25%;
}

.pageTitle {
    font-size: 2vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,0.8);
    border-radius: 35px;
    padding: 25px;
}

@media only screen and (max-width: 1440px) {
    .pageTitle {
        font-size: 3vw;
    }
}

@media only screen and (max-width: 768px) {
    .pageTitle {
        font-size: 5vw;
    }
}

#searchButton {
    background: white;
    margin: 30px 40px;
    width: -webkit-fill-available;
    height: 2rem;
    border-radius: 25px;
    border: none;
    font-size: 24px;
    padding: 15px 35px;
}

@media only screen and (max-width: 320px) {
    #searchButton {
        margin: 10px 0px;
        width: 8.5rem;
        height: 0px;
        font-size: 16px;
    }
}

@media only screen and (max-width: 425px) and (min-width: 320px) {
    #searchButton {
        margin: 10px 0px;
        width: 10rem;
        height: 0px;
        font-size: 16px;
    }
}

@media screen and (max-width: 600px) and (min-width: 425px) {
    #searchButton {
        margin: 10px 0px;
        width: -webkit-fill-available;
        height: 0px;
        font-size: 16px;
    }
}


/* Dogs Images and Description */
@media only screen and (min-width: 768px) {
    .heroDog,.workingDog,.companionDog {
        position: relative;
        max-width: 800px;
        margin: 0 auto;
    }
      
    .heroDog,.workingDog,.companionDog img {
        vertical-align: middle;
    }
      
    .heroDog .heroDogDescription {
        position: absolute;
        bottom: 0;
        background: rgb(0, 0, 0); /* Fallback color */
        background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
        color: #f1f1f1;
        padding: 20px;
    }
    
    .workingDog .workingDogDescription {
        position: absolute;
        bottom: 0;
        background: rgb(0, 0, 0); /* Fallback color */
        background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
        color: #f1f1f1;
        padding: 20px;
    }
    
    .companionDog .companionDogDescription {
        position: absolute;
        bottom: 0;
        background: rgb(0, 0, 0); /* Fallback color */
        background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
        color: #f1f1f1;
        padding: 20px;
    }
}


/* Resource Container including Checklists */
.resourceContainer {
    display: grid;
    grid-template-columns: auto;
    background-color: #2196F3;
    padding: 10px;
}

@media only screen and (min-width: 768px) {
    .resourceContainer {
        grid-template-columns: auto auto auto;
    }
}

.resourceItem {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 1rem;
    text-align: center;
}

.linkIcon {
    font-size: -webkit-xxx-large;
}